body {
  margin: 0;
  font-family: "Playfair Display SC", serif;
  font-family: "Shadows Into Light", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: rgb(238, 236, 236);
  color: #242526; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
